.header {
    /* background-color: aqua; */
    background-color: #1976d2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.logo {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: white;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50px;
    font-size: 24px;
    position: absolute;
    left: 0;
}
.logo i.fa { margin-right: 3px; }
.navTop {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    /* margin-right: 50px; */
    flex-wrap: wrap;
}
.navTop > li {
    display: inherit;
    border-left: 1px solid #b3b3b3;
}
.navTop > li > a {
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    color: white;
}
a.active { background-color: #005eba;}
